# JetBrains IDEs
.idea/

# Ignorar TODO dentro de documents...
documents/*

# ...PERO permitir este archivo
!documents/README.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env

# Logs
*.log

# Mac
.DS_Store